* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

@font-face {
    font-family: Stormfaze;
    src: url(./fonts/Stormfaze.otf) format("truetype");
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    font-family: Stormfaze !important;
    animation: saveFps 1s infinite;
}

@keyframes saveFps {
    99% {
        opacity: 0.9999;
    }

    100% {
        opacity: 1;
    }
}

.container {
    height: 600px;
    width: 700px;
    outline: double 3px white;
}

.head {
    height: 50px;
    background-color: white;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#lives {
    /* position: absolute; */
    top: 15px;
    left: 620px;
    display: flex;
    gap: 5px;
    width: 75px;

}

.life {
    width: 20px;
    height: 20px;
    background-color: red;
    clip-path: polygon(50% 0%, 100% 35%, 80% 100%, 50% 75%, 20% 100%, 0% 35%);
}


.canvas {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.rectangles-section {
    /* margin-top: 20px !important; */
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    row-gap: 0;
}

.rectangle {
    width: 70px;
    height: 38.5px;
    border: 0.5px solid black;
}

[data-exist="false"] {
    visibility: hidden;
}

[data-exist="wall"] {
    background: linear-gradient(to left, rgb(105, 102, 100), rgb(68, 68, 68), rgb(105, 102, 100));
    box-shadow: inset -5px -5px rgb(50, 50, 50), inset 5px 5px rgb(202, 202, 202)
}

.vibrateAnimation {
    animation: spin 2s ease-in-out;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(-4deg);
    }

    75% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.paddle-section {
    height: 15px;
    position: relative;
    margin-bottom: 20px !important;
}

.paddle {
    height: 100%;
    width: 100px;
    /* border-radius: 10px; */
    background-color: blue;
    position: absolute;
    /* top: 0px; */
    /* left: 350px; */

}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    transform: translate(341px, 495px);
    position: absolute;
}

/* -------------- Part Of Game Over --------------- */

.hideElement {
    display: none !important;
}

#gameOverScreen,
#gameOverScreen1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: fadeIn 0.5s ease-in-out;
    z-index: 99;
}

li {
    background-color: gray;
    font-size: 20px;
    font-weight: 550;
    list-style: none;
    padding: 0px 9px;
    margin-top: 4px;
}

button#restartButton {
    margin-top: 10px;
}

#gameOverPopup {
    background: #222;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.8);
    text-align: center;
    width: 350px;
    opacity: 0;
    transform: scale(0.8);
    animation: popupAppear 0.5s forwards ease-in-out;
}

#gameOverPopup h1 {
    color: rgb(255, 244, 244);
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 0 0 10px red, 0 0 20px crimson;

}

#gameOverPopup p {
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
}

#gameOverPopup button {
    padding: 12px 20px;
    font-size: 18px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 0 10px red;
}

#gameOverPopup button:hover {
    background: darkred;
    box-shadow: 0 0 20px crimson;
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes popupAppear {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}