* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}

body {
    font-family: "Play", serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
}

.container {
    height: 600px;
    width: 700px;
    outline: double 3px white;
}

.head {
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.canvas {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.rectangles-section {
        margin-top: 20px !important;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    row-gap: 0;
}

.rectangle {
    width: 70px;
    height: 38.5px;
    border: 0.5px solid black;
}

[data-exist="false"]{
    visibility: hidden;
}

.paddle-section {
    height: 15px;
    position: relative;
    margin-bottom: 20px !important;
}

.paddle {
    height: 100%;
    width: 100px;
    /* border-radius: 10px; */
    background-color: blue;
    position: absolute;
    /* top: 0px; */
    /* left: 350px; */

}

.ball {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    transform: translate(341px, 495px);
    position: absolute;
}